.top-bar{
    height: 90px;
    background-color: $background-dark;

    .grid{
        margin: 0;
        padding: 0;
        .column{
            padding: 0;
        }
    }

    &__left{
        display: flex !important;
        align-items: center;
        
        img{
            height: 50px;
            transition: all .5s;

            &:hover{
                transform: translateX(-15px)
            }
        }
    }
    &__right{
        display: flex !important;
        align-items: center;
        justify-content: flex-end;

        .ui.icon.input{
            padding-right: 0 !important;
        }

        .ui.input{
            align-items: center;
            margin-right: 25px;
            input{
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid $primary;
                border-radius: 0;
                color: $primary !important;
                padding: 5px 0 !important;
                width: 200px;
                font: 20px;
                transition: width .7s;

                &:focus{
                    width: 350px;
                    background-color: transparent;
                    border: 0;
                    border-bottom: 1px solid $primary;
                    border-radius: 0;
                    color: $primary !important;
                    padding: 5px 0;
                    font: 20px;
                }
            }
            i{
                color: $primary;
                opacity: 1 !important;
                font-size: 1.3rem;
                right: -50px !important;
                
            }
        }
    }
}